<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title>销售统计</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='../stylesheets/css/bootstrap.min.css' />
    <script src="./javascripts/jquery-2.1.1.min.js"></script>
  </head>
  <body>
  		<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<div class="row clearfix">
						<div class="col-md-12 column">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3>商品销售管理系统</h3>
								</div>
								
							</div>
							<nav class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
								<div class="navbar-header">
									 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Brand</a>
								</div>
								
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
									<ul class="nav navbar-nav">
										<li class="active">
											 <a href="./sale.html">销售统计</a>
										</li>
										<li>
											 <a href="./goods.html">商品管理</a>
										</li>
										<li>
											 <a href="./order.html">定单管理</a>
										</li>
										<li>
											 <a href="./user.html">用户管理</a>
										</li>
									</ul>
									
									
								</div>
								
							</nav>
							<table class="table table-hover table-bordered">
								<thead >
									<tr>
										<th>
											编号
										</th>
										<th>
											商品名
										</th>
										<th>
											销售数量
										</th>
										
									</tr>
								</thead>
								<tbody id="list">
									
									
								</tbody>
							</table>
							<button type="button" class="btn btn-info btn-sm" onclick="orderInc()">升序</button>
							<button type="button" class="btn btn-sm btn-warning" onclick="orderDesc()">降序</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
  </body>
</html>
<script type="text/javascript">

function orderDesc(){
	$.ajax({
			type : "GET",
		    url : "/goodsOrderDesc",
		    dataType : "json",
		    jsonp : 'callback',
		    success: function(data) {
		    		var str = '';
		    		var length = data.list.length;
		    		for(var i=0;i<length;i++){
		    			str += '<tr class="info">'+
										'<td>'+
										data.list[i].id+
										'</td>'+
										'<td>'+
											data.list[i].goods_name+
										'</td>'+
										'<td>'+
											data.list[i].sale_num+
										'</td>'+
									'</tr>';
		    		}
		    		$("#list").html(str);
			    	//alert(JSON.stringify(data.list));

			    	
		    }
		});
}
function orderInc(){
		$.ajax({
			type : "GET",
		    url : "/goodsList",
		    dataType : "json",
		    jsonp : 'callback',
		    success: function(data) {
		    		var str = '';
		    		var length = data.list.length;
		    		for(var i=0;i<length;i++){
		    			str += '<tr class="info">'+
										'<td>'+
										data.list[i].id+
										'</td>'+
										'<td>'+
											data.list[i].goods_name+
										'</td>'+
										'<td>'+
											data.list[i].sale_num+
										'</td>'+
									'</tr>';
		    		}
		    		$("#list").html(str);		    	
		    }
		});
}
orderInc();
</script>
